@import "theme.css";

* {
    font-family: "SF Pro Display", 'JetBrainsMono Nerd Font', sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    padding: 0;
    margin: 0;
}

#clock,
#clock-date,
#network,
#pulseaudio,
#cpu,
#memory,
#temperature {
    padding: 0 1em;
    color: white;
}

#network,
#pulseaudio,
#memory,
#temperature {
    border-right: 1px solid #444444;
}

#clock {
    font-weight: 700;
}

#window,
#hyprland-window {
    padding: 0 0.5em;
    font-weight: 600;
}

#battery {
    color: white;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10.5em;
    margin: 0.3em;
    padding: 0.2em 1em;
}

#custom-launcher {
    color: white;
    padding: 0 0.2em 0 1.3em;
    font-size: 1.2em;
}

#custom-text,
#custom-text-two,
#custom-text-three,
#custom-text-four,
#custom-help-macos {
    padding: 0 0.5em;
    color: rgba(255, 255, 255, 0.8);
}

#custom-text:hover,
#custom-text-two:hover,
#custom-text-three:hover,
#custom-text-four:hover,
#custom-help-macos:hover {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.1);
}

#image-wallpaper {
    margin: 0.3em;
    border-radius: 4px;
}

tooltip {
    background-color: #11111b;
    color: #cdd6f4;
    border-radius: 0.5em;
    padding: 0.5em;
}

#tray {
    padding: 0 0.5em;
}