* {
    font-family: 'JetBrainsMono Nerd Font', 'Radio Canada Big', sans-serif;
    font-size: 12px;
    font-weight: bold;
    /* border-radius: 4px; */
}

window#waybar {
    background-color: transparent;
    color: #e8eaed;
    /* mix-blend-mode: difference; */
    background-color: rgba(0, 0, 0, 0.1);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #e8eaed;
}

#workspaces {
    transition: all 1s ease-in-out;
}

#workspaces button {
    border-radius: 5px;
    margin: 0 4px;
    padding: 0 5px;
    background-color: transparent;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    transition: all 200ms ease-in-out;
    color: #7f849c;
}

#workspaces button:not(.empty) {
    /* A soft highlight color for workspaces with apps */
    color: #f5e0dc; 
    background: rgba(0, 0, 0, 0.5);
    /* Add a small blue underline for occupied ones */
    box-shadow: inset 0 -3px #89b4fa; 
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #e8eaed;
    border-radius: 20px;
}

#workspaces button.active {
    color: #e8eaed;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 -3px #e8eaed;
    min-width: 20px;
}

#clock,
#battery,
#memory,
#temperature,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-nightlight,
#tray,
#mode,
#hyprland-window,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#window {    
    margin: 0 4px;
    padding: 0 13px;
    color: #e8eaed;
    border-radius: 8px;
    box-shadow: inset 0 -2px #a6bbda;

}

#custom-cava {
    background: rgba(0, 0, 0, 0.4);
    color: #89b4fa;
    margin: 0 4px;
    padding: 0 10px;
    border-radius: 8px;
    box-shadow: inset 0 -2px #a6bbda;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    background: rgba(0, 0, 0, 0.4);
}

#battery {
    background: rgba(0, 0, 0, 0.4);
}

#custom-nightlight {
    background: rgba(0, 0, 0, 0.4);
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

#pulseaudio {
    background: rgba(0, 0, 0, 0.4);
    color: #e8eaed;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#temperature {
    /* background-color: #323d49; */
    background: rgba(0, 0, 0, 0.4);
    color: #e8eaed;
}

#temperature.warning {
    background-color: #ffb766;
    color: #000000;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#hyprland-window {
    background: rgba(0, 0, 0, 0.4);
}

#memory {
    background: rgba(0, 0, 0, 0.4);
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#tray {
    background: rgba(0, 0, 0, 0.4);
}

#mpd {
    padding: 0 15px;
    color: #e8eaed;
    margin: 0 2px;
    box-shadow: inset 0 -1px #e8eaed;
    border-radius: 5px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

/* background-color: #64727D; */
/* background-color: #323d49; */
/* border-radius: 2px; */


/* 
#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

Using steps() instead of linear as a timing function to limit cpu usage 
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

label:focus {
    background-color: #000000;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
} */